@using FGCFrameData.Models
@model IEnumerable<CharacterRoster>

@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div class="row">
        @foreach (var roster in Model)
        {
            <div class="col-md-4">

                <a href="#"><img src="@roster.ImagePath" title="@roster.GameName"/></a>

            </div>
        }
    </div>
</div>

