@using FGCFrameData.Models
@model IEnumerable<CharacterRoster>

@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    <div class="row">
        @foreach (var roster in Model)
        {
            <div class="col-md-4">

                <a href="@Url.Action("Index","CharacterRosters",new {id = roster.Id})"><img src="@roster.ImagePath" alt="@roster.GameName"/></a>

            </div>
        }
    </div>
</div>

