body {
    padding-bottom: 20px;
    background-color: black;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.row img {
    width :214px ;
    height:140px;
}

.field-validation-error {
    color: red;
}

.input-validation-error {
    color: red;
}

.modal-content{
    background-color: grey;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
.characterIcon {
    display: block;
    width: 100px;
    height: 100px;
    padding: 3px;
}
.characterIcon img {
    width: 100%;
    height: 100%;
}

.characterIconContainer {
    display: inline-block;

}

#button0, #button1 {
    display: none;
}

#frameTable tbody tr:hover {
    background-color: blue;
}

.characterMoves {
    overflow-x: auto;
    display:none;
}