@using FGCFrameData.Models
@using System.Web.Hosting
@model List<Character>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Choose your fighter</h2>

<div class="container">
    <div class="row">
        @foreach (var character in Model)
        {

            <div class="col-md-4">
                <a href="@Url.Action("Index","Characters",new {id = character.Id})"><img src="@("/" + character.ImagePath)" alt="@character.Name" /></a>
            </div>

            <div id="characterMoves"></div>


        }
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $("#characterMoves").load("/Characters/Index/1");
    </script>
}


